name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test-lint-build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.25'

    - name: Verify dependencies
      run: go mod verify

    - name: Run Linter
      uses: golangci/golangci-lint-action@v9
      with:
        version: v2.7.2

    - name: Run Tests
      run: go test -v -race ./...

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Build Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: false
        tags: expense-tracker:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max
